<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人博客后台</title>
		<link href="css/reset.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<link href="css/adm.css" rel="stylesheet">
<style>
form {
width:30%;
margin:0 auto;
}
</style>
</head>
<body>
    <header>
        <h1>修改密码页面</h1>
    </header>
    <div id="main">
        <div id="respond" class="comment-respond">
            <form action="" method="post">
            	<p>
                <input   type="text" placeholder="用户名" name="name" value="" size="30">
                </p>
                <p>
                <input   type="text" placeholder="原始密码" name="password" value="" size="30">
                </p>
                <p>
                <input   type="text" placeholder="新密码" name="newpassword" value="" size="30">
                </p>
                <p>
                <input  type="text" placeholder="确认密码"  name="repassword" value="" size="30">
                </p>
                <input type="submit" value="确认">
            </p>
            </form>
        </div>
    </div>
    <footer>
        Copyright &copy; 2019 · HUAXIA · UNIVERSITY · WYWANG
    </footer>
</body>
</html>